@import url('globalStyles.css');

.content{
  --content-gap: 10px;
}

.tableContainer {
  --height-container: 60vh;
}

/* Distribución personalizada por columnas */

thead th:nth-child(1),
tbody td:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2),
tbody td:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3),
tbody td:nth-child(3) {
  width: 45%;
}

thead th:nth-child(4),
tbody td:nth-child(4) {
  width: 15%;
}

thead th:nth-child(5),
tbody td:nth-child(5) {
  width: 60%;
}

.bottomButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 100%;
}

.btnPrimary{
    height: 3em;
    width: 15em;
    margin-top: 1.2em;
    --border-radius: 5px;
}

a{
  text-decoration: none;
}