@import url('globalStyles.css');

/* ====== Estilos Generales ====== */
.Line {
    background-color: #94ACDA;
    border: none;
    border-radius: 50px;
    height: 5px;
    margin: 0;
}

/* ====== Contenedores Principales ====== */
.containerDevices{
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 1rem;
    width: 100%;
}

.pnlContainer {
    background-color: transparent !important;
    box-shadow: none !important;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.AddDevice {
    align-self: flex-start;
    margin-left: 6.5rem;
    margin-top: auto;
}

/* ====== Tabs (Pestañas) ====== */
.tabs {
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
}

.tab {
    align-items: center;
    background: transparent;
    border: none;
    color: var(--color-txt);
    cursor: pointer;
    display: flex;
    flex: 1;
    font-size: 1.3rem;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-right: 5px;
    padding: 10px 20px;
    position: relative;
    transition: all 0.6s ease;
}

.tab::after {
    background-color: transparent;
    border-radius: 6px;
    bottom: 0;
    content: "";
    height: 5px;
    left: 3%;
    position: absolute;
    right: 3%;
    transition: all 0.3s ease;
}

.tab.active {
    color: var(--color-breadcrumb);
}

.tab.active::after {
    background-color: var(--color-breadcrumb);
}

/* ====== Tarjetas ====== */
.card {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: var(--shadow-pnl);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 16rem;
    padding: 1.5rem;
    width: 28.5rem;
}

.cardHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.cardHeader h3 {
    color: #545475;
    font-size: 1.8rem;
    font-weight: var(--font-weight-Medium);
    margin: 0;
}

.cardHeader .icon img {
    height: 25px;
    width: 25px;
}

.cardBody .info {
    color: var(--color-txt-title);
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.cardBody .info .date,
.cardBody .info .label {
    font-weight: var(--font-weight-Semibold);
}

.cardBody .date {
    font-weight: 700;
}

.cardFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.card button {
    margin-top: auto;
}

/* ====== Botones ====== */
.btn-primary {
    border-radius: 0.8rem;
    padding: 1rem 4.5rem;
    transition: all 0.2s ease-in-out;
}

.btnDetalles {
    background-color: #ffffff;
    border: 2px solid #6563ff;
    border-radius: 0.8rem;
    box-shadow: var(--shadow-btn-secondary);
    color: #6563ff;
    cursor: pointer;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-Semibold);
    padding: 1rem 5.5rem;
    transition: all 0.2s ease-in-out;
}

.btnDetalles:hover {
    --color-btn-primary: #6876f2;
    background: var(--color-btn-primary);
    box-shadow: var(--shadow-btn-primary);
    color: #f5f8ff;
    transform: translateY(-5px);
}


/*====== modals =======*/
.modalAdd {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: clamp(500px, 85%, 900px);
    padding: 40px;
    border-radius: 15px;
    position: relative;
}

.containerModal{
    --display: flex;
}

.formGrid {
    display: flex;
    gap: 30px;
}

.inputGrid {
    flex: 3;
    display: grid;
    gap: 15px;
}

.formField {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formField label {
    font-size: 1.1em;
    font-weight: 500;
    color: var(--color-txt);
}

input,
select {
    font-size: var(--font-size-base);
    font-weight: 500;
    color: var(--color-txt-title);
    padding: 7px;
    min-height: 40px;
    border: 1px solid #7B96C7;
    border-radius: 5px;
    box-sizing: border-box;
}

.formFieldRow {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}

.formFieldRow .formField {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.longInput {
    grid-column: span 2;
}

.longInput input {
    width: 65.5%;
}

.inputMaintenance{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

