@import url('globalStyles.css'); /*Se importa el estilo principal del sitio web*/

body {
  color: #4a4a4a;
  font-size: 14px;
}
h2{
  text-decoration: none;                                      
    color: var(--color-breadcrumb);       
}
.topHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profilePicture{
  border-radius: 50%;          
  --color-img-border: 3px solid #8F90DE;                               
  border: var(--color-img-border);                            /*Borde característico de la carga de imágenes*/
  object-fit: cover;
  cursor: pointer;
  height: 60px;
  width: 60px;
  box-shadow: 2px 2px 8px 2px rgba(151, 167, 231, 0.35);
}

.searchContainer{
    padding: 20px;
    background-color: transparent;
    box-shadow: none;
}

.btn-primary{
  border-radius: 8px;
  height: 2.7em; 
  width: 13em;
}

.icons {
  display: flex;                  /* Muestra los íconos en línea horizontal */
  align-items: center;
}

.icons img {
  margin-left: 2em; /* Espacio a la izquierda del ícono*/
}

.table-container {
  background-color: white;            /* Fondo blanco para la tabla */
  border-radius: 10px;                  /* Bordes redondeados */
  box-shadow: 0px 0px 10px #dcdcdc;   /* Sombra suave para efecto de tarjeta */
  overflow-x: auto;                     /* Permite desplazamiento horizontal si es necesario */
}

table {
  width: 100%;                /* Ocupa todo el ancho del contenedor */
  border-collapse: collapse;  /* Elimina espacios entre celdas*/
}

thead {
  background-color: #f0f4ff;  /* Color de fondo para encabezado de tabla*/
  font-weight: bold;
  border-bottom: 2px solid #dcdcdc;
  color: #4a4a4a;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px; 
}

th, td {
  text-align: left;           /* Alineación a la izquierda para celdas*/
  padding: 1em;               /* Espaciado interno uniforme */
}

td:last-child {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8em;
}

td img {
  cursor: pointer;            /* Muestra el puntero de clic */
  width: 20px;                /* Tamaño reducido para íconos de acción */
}

tr:hover {
  background-color: #f9f9f9;  /* Cambio de fondo al pasar el ratón por encima */
}

/*Formulario de registro*/
.containerModalAddEmployee{
    z-index: 30;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-color: #8585AC88;
}

.modalAddEmployee{
    display: flex;
    background-color: #F2F9FE;
    flex-direction: column;
    gap: 20px;
    background-color: #F2F9FE;
    border-radius: 15px;
    padding: 40px;
    width: clamp(500px, 85%, 1200px);
    position: relative;
    box-shadow: 0 0 15px #aaa;
}

#closeAddEmployee{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 20px;
    right: 0;
    top: 0;
}

.modalAddEmployee > div{
    display: flex;
    gap: 15px;
}

.containerInputAddEmployee{
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.containerInputAddEmployee label{
    font-size: 1.1em;
    color: var(--color-txt);
    font-weight: 500;
}

.containerInputAddEmployee label + *{
    font-weight: 500;
    font-size: var(--font-size-base);
    color: var(--color-txt-title);
    padding: 7px;
    border-radius: 5px;
    border: solid 1px #7B96C7;
}

.formGrid {
  display: flex;
  gap: 30px;
}

.photoSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoButtons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 8px;
}

.btnDeletePhoto {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.btnDeletePhoto {
  background-color: transparent;
  color: #444;
  text-decoration: none;
}

.inputGrid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.fullWidth {
  grid-column: span 3;
}
.containerModalAddEmployeeOpen{
    display: flex;
}

.containerModalAddEmployeeClose{
    display: none;
}

