@import url('globalStyles.css'); /*Se importa el estilo principal del sitio web*/

.searchContainer{
    --space-elements: 0;
    --color-search: transparent;
    --shadow-search-container: none;
}

.btn-primary{
  --border-radius: 8px;
  height: 3em; 
  width: 15em;
}

/*Formulario de registro*/
.containerModalAddEmployee{
    z-index: 30;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-color: #8585AC88;
}

.modalAddEmployee{
    display: flex;
    background-color: #F2F9FE;
    flex-direction: column;
    gap: 20px;
    background-color: #F2F9FE;
    border-radius: 15px;
    padding: 40px;
    width: clamp(500px, 85%, 1200px);
    position: relative;
    box-shadow: 0 0 15px #aaa;
}

#closeAddEmployee{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 20px;
    right: 0;
    top: 0;
}

.modalAddEmployee > div{
    display: flex;
    gap: 15px;
}

.containerInputAddEmployee{
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.containerInputAddEmployee label{
    font-size: 1.1em;
    color: var(--color-txt);
    font-weight: 500;
}

.containerInputAddEmployee label + *{
    font-weight: 500;
    font-size: var(--font-size-base);
    color: var(--color-txt-title);
    padding: 7px;
    border-radius: 5px;
    border: solid 1px #7B96C7;
}

.formGrid {
  display: flex;
  gap: 30px;
}

.photoSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoButtons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 8px;
}

.btnDeletePhoto {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.btnDeletePhoto {
  background-color: transparent;
  color: #444;
  text-decoration: none;
}

.inputGrid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.fullWidth {
  grid-column: span 3;
}
.containerModalAddEmployeeOpen{
    display: flex;
}

.containerModalAddEmployeeClose{
    display: none;
}

