@import url('globalStyles.css');  

/*Contenedor padre del btn primario*/
.containerBtnPrimary{             
    display: flex;                                               
    justify-content: flex-end;                                  /*Enviar el btn al final*/
    padding-right: 5em;                                         /*Este atributo y el siguiente son para distanciar el botón del contenedor y del borde*/
    margin-bottom: 3em;
}

.informationPnl{
    --height-pnl: 6em;
}

/*Clase para eliminar la decoración del enlace*/
.recordEmployee{
    text-decoration: none;
    color: var(--color-txt);                                    
}

.info{
    display: flex;                                              
    flex-direction: column;                                     /*Coloca la info debajo del título, sin eso iría a la derecha*/
    padding-left: 0.8em;                                             /*Espacio para que respire el contenido*/
}

.dataEmployee{
    display: flex;                                              
    font-weight: 400;                                           /*Peso de los títulos de información, NO las variables*/
}

.dataEmployee p{
    margin: 0.6em;                                              /*Distancia de arriba y abajo de la info con el titulo*/
    margin-left: 0.4em;                                         /*Distacia a la derecha para alinearlo con el titulo*/
    margin-right: 0.8em;                                        /*Distancia de cada dato entre sí*/
}

.pictureEmployee{
    border-radius: 50%;                                         
    border: var(--color-img-border);                            /*Borde característico de la carga de imágenes*/
    height: 70px;                                               /*Alto img*/
    width: 70px;                                                /*Ancho img*/
    object-fit: cover;                                          /*Evitar distorsión en la img*/
    margin-left: 0.5em;                                         
}

.arrow{
    margin-left: auto;                                          /*Lo envia a la derecha*/
    margin-right: 0.5em;                                        /*Distancia un poco el borde derecho*/
}

/*Modal*/

.containerModalAdd{
    z-index: 30;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background-color: #8585AC88;
}

.modalAdd{
    position: relative;
    display: block;
    align-items: center;
    justify-content: space-between;
    /*flex-direction: row; /*Al ser 3 elementos se pasan a fila para no estar en columna*/
    width: clamp(400px, 90%, 1080px);
    
}

.formField{
    margin-left: 15px;
}

.firstRow, .secRow, .thirdRow{
    display: flex;
}

.btnContainer{
    display: flex;
    flex-direction: row-reverse;
}

.txtTextbox{
  border-radius: 5px;
  border: 1px solid #7B96C7;
  width: 100%;
  padding: 7px;
  font-size: var(--font-size-base);
  color: var(--color-txt);
  font-weight: var(--font-weight-Regular);
}

.txtTextbox:focus{
  border: 2px solid #7B96C7;
  padding: 7px;
}

.txtTextboxBig{
  border-radius: 5px;
  border: 1px solid #7B96C7;
  width: 400px;
  padding: 7px;
  font-size: var(--font-size-base);
  color: var(--color-txt);
  font-weight: var(--font-weight-Regular);
}

.txtTextboxBig:focus{
  border: 2px solid #7B96C7;
  padding: 7px;
}

select{
    border-radius: 5px;
    border: 1px solid #7B96C7;
    padding: 7px;
    width: 250px;
    font-size: var(--font-size-base);
    color: var(--color-txt);
    font-weight: var(--font-weight-Regular);
}