@import url('globalStyles.css');

/*Clases utilizadas en ambas partes del formulario (Superior e inferior)*/
.thirdRowLeft,
.thirdRowRight,
.textField,
.rowsFormTop,
.colRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputContainer {
  display: flex;
  gap: 2em;
}
/* 
  -----------------------------------------------------------------------------------------------------------------------
  Parte superior del formulario - Estructura
  -----------------------------------------------------------------------------------------------------------------------
*/
.formTop {
  display: flex;
  align-items: center;
}

.imgContainer{
  padding: 0 4em 2em 2em;
  box-sizing: border-box;
}

.firstRow,
.secRow,
.thirdRow {
  display: flex;
  gap: 10px;
}

#formRecord{
  width: 100%;
}
/*
  -----------------------------------------------------------------------------------------------------------------------

  -----------------------------------------------------------------------------------------------------------------------
  Parte inferior del formulario - Estructura
  -----------------------------------------------------------------------------------------------------------------------
*/
.formBottom {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.treatmentContainer{
  height: 100%;
  width: 100%;
}

.colLeft {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*Grupo de los date picker*/
.dateInput,
.statusSelect,
.conditionContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*Ditancia entre botones Modificar y guardar*/
.leftButtons,
.rightButtons {
  display: flex;
  gap: 10px;
  margin-top: 2em;
}
/*
  -----------------------------------------------------------------------------------------------------------------------

  -----------------------------------------------------------------------------------------------------------------------
  Elementos del formulario
  -----------------------------------------------------------------------------------------------------------------------
*/

/*DateTime Picker*/
.dateInput input{
  height: 3em;
  font-family: "Poppins", sans-serif;
  padding-left: 0.4em;
  border-radius: 5px;
  border: 1px solid #7B96C7;
}
/*
  -----------------------------------------------------------------------------------------------------------------------

  Botónes del fondo de la interfaz
*/
.btnPrimary{
    --border-radius: 5px;
    width: 13em;
    height: 3em;
}

.btnContainer{
  display: flex;
  justify-content: space-between;
}