@import url('globalStyles.css');


.imgContainer{
  padding-right: 5em;
}
/* PARTE SUPERIOR ----- display:inline / none en cardContainer */
.formTop {
  display: flex;
  align-items: center;
}

/* Bloque de filas de inputs */
.rowsFormTop {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.firstRow,
.secRow,
.thirdRow {
  display: flex;
  gap: 1rem;
}

/* Dentro de thirdRow: distribución izquierda y derecha */
.thirdRowLeft,
.thirdRowRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textField{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formBottom {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.conditionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.inputContainer {
  display: flex;
  gap: 2em;
  justify-content: space-between; /*Puede no ser útil, borrarla si es necesario*/
}

/* 
  -----------------------------------------------------------------------------------------------------------------------
  Parte superior del formulario - Estructura
  -----------------------------------------------------------------------------------------------------------------------
*/

/*
  -----------------------------------------------------------------------------------------------------------------------
*/

/* 
  -----------------------------------------------------------------------------------------------------------------------
  Parte inferior del formulario - Estructura
  -----------------------------------------------------------------------------------------------------------------------
*/
.caja-tratamiento textarea {
  height: 250px;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
}

.colLeft {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.colRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*Grupo de los date picker*/
.dateInput,
.statusSelect{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*Ditancia entre botones Modificar y guardar*/
.leftButtons,
.rightButtons {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}
/*
  -----------------------------------------------------------------------------------------------------------------------
*/

/*
  -----------------------------------------------------------------------------------------------------------------------
  Elementos del formulario
  -----------------------------------------------------------------------------------------------------------------------
*/
label{
    font-size: var(--font-size-base);
    color: var(--color-txt-title);
    font-weight: var(--font-weight-Semibold);
}

/*Combobox*/
select{
    --border-radius: 5px;
    border-radius: var(--border-radius);
    height: 3em;
    font-family: poppins, sans-serif;
    padding-left: 0.4em;
    border: 1px solid #7B96C7; 
}

/*DateTime Picker*/
.dateInput input{
    --border-radius: 5px;
    border-radius: var(--border-radius);
    height: 3em;
    font-family: poppins, sans-serif;
    padding-left: 0.4em;
    border: 1px solid #7B96C7;
}

.txtTextbox{
  border: 1px solid #7B96C7; 
  box-sizing: border-box;
  width: 100%;
  padding: 7px;
  font-size: var(--font-size-base);
  color: var(--color-txt);
  font-weight: var(--font-weight-Regular);
}

/*Textareas*/
.txtTextarea{
    border-radius: 5px;
    border: 1px solid #7B96C7; 
    box-sizing: border-box;
    width: 100%;
    padding: 7px;
    font-size: var(--font-size-base);
    color: var(--color-txt);
    font-weight: var(--font-weight-Regular);
    font-family: "Poppins", sans-serif;
}

.textareaCondition {
  height: 30px;
  resize: none;
  padding: 1em;
  border: 1px solid #7B96C7; 
  border-radius: 5px;
  font-size: var(--font-size-base);
  color: var(--color-txt);
  font-weight: var(--font-weight-Regular);
  font-family: "Poppins", sans-serif;
}

/*Atributos en común con los textbox y los texarea*/
.txtTextbox,
.txtTextarea{
  border: 1px solid #7B96C7; 
  resize: none;
  font-size: var(--font-size-base);
  border-radius: 5px;
}

/*
  -----------------------------------------------------------------------------------------------------------------------
*/

/*
.formTop{
    justify-content: space-between;
}

.textareaCondition{
  width: 100%;
  height: 3 0px;
  resize: none;
  padding: 0.5rem;
  --border-radius: 5px;
  border-radius: var(--border-radius);
}
*/

/*
  Botónes del fondo de la interfaz
*/

.btn-primary{
    --border-radius: 5px;
    width: 13em;
    height: 3em;
}

.btnContainer{
  display: flex;
  justify-content: space-between;
}