@import url('globalStyles.css');

body{
    --bg-containers: #FEFEFF77;
}

.bodyContent{
    flex: 1;
    background-color: var(--bg-containers);
    width: 100%;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.informationPnl{
    width: 100%;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    height: clamp(100px, 33%, 150px); /*Este estilo no esta del todo confirmado*/
}

.trainingName{
    color: var(--color-txt);
    font-weight: 600;
    font-size: 1.6em;
}

.containerTrainingUsers{
    display: flex;
}

.containerMoreInfoTraining{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.userTraining{
    width: 60px;
    position: relative;
}

.user1{
    left: 10%;
    z-index: 20;
}

.user2{
    z-index: 10;
}

.user3{
    right: 10%;
}

/*modales*/


.modalAddTraining{
    display: flex;
    position: relative;
    border-radius: 12px;
    padding: 45px 70px;
    box-sizing: border-box;
    gap: 15px;
    flex-direction: column;
    background-color: #F2F9FE;
    width: clamp(400px, 90%, 850px);
}

.btnCloseModal{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 20px;
    right: 0;
    top: 0;
}

.modalAddTraining > div{
    display: flex;
    gap: 15px;
}

.containerInputAddTraining{
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.containerInputAddTraining label{
    font-size: 1.1em;
    color: var(--color-txt);
    font-weight: 500;
}

.containerInputAddTraining label + *{
    font-weight: 500;
    font-size: var(--font-size-base);
    color: var(--color-txt-title);
    padding: 7px;
    border-radius: 5px;
    border: solid 1px #7B96C7;
}

.showModal{
    display: flex;
}

.hideModal{
    display: none;
}

/*Modal capacitacion*/

.modalTraining{
    display: flex;
    position: relative;
    border-radius: 12px;
    padding: 10px 20px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #F2F9FE;
    width: clamp(400px, 90%, 850px);
}

.headerModalTraining{
    display: flex;
    padding: 15px;
}

.trainer{
    font-size: 1.2em;
}

#trainingName{
    font-size: 1.6em;
    color: var(--color-txt);
    font-weight: 600;
    width: 100%;
    text-align: start;
}	

.headerModalTraining > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.bodyModalTraining{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 35px;
    box-sizing: border-box;
}

.bodyModalTraining > div{
    display: flex;
    gap: 15px;
}

.containerButtonsModalTraining{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}	

.containerButtonsModalTraining button{
    height: 2.5em;
    width: 10em;
    box-shadow: none; 
    border-radius: 5px;
}