@import url('globalStyles.css');

body{
    --bg-containers: #FEFEFF77;
    --width-modal: clamp(400px, 90%, 850px);
}

.btn-primary{
    --border-radius: 5px;
    display: grid;
    place-content: center;
}

.bodyContent{
    flex: 1;
    background-color: var(--bg-containers);
    width: 100%;
    border-radius: var(--border-radius);
    padding: 20px;
    box-sizing: border-box;
}

.informationPnl{
    width: 100%;
    border: none;
    cursor: pointer;
    justify-content: space-between;
    --height-pnl: 10em;
}

.trainingName{
    color: var(--color-txt);
    font-weight: var(--font-weight-Semibold);
    font-size: var(--font-size-base);
}

.containerTrainingUsers{
    display: flex;
}

.containerMoreInfoTraining{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.userTraining{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
}

.btnAddMembers{
    border: none;
    background-color: transparent;
    cursor: pointer;
    left: 20%;
    z-index: 25;
    transition: scale 0.3s ease;
}

.btnAddMembers:hover{
    scale: 1.1;
}

.user1{
    left: 10%;
    z-index: 20;
}

.user2{
    z-index: 10;
}

.user3{
    right: 10%;
}

/*modales*/


.modalAddTraining{
    display: flex;
    position: relative;
    border-radius: var(--border-radius);
    padding: 45px 70px;
    box-sizing: border-box;
    gap: 15px;
    flex-direction: column;
    background-color: #F2F9FE;
    width: var(--width-modal);
}

.btnCloseModal{
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 20px;
    right: 0;
    top: 0;
}

.modalAddTraining > div{
    display: flex;
    gap: 15px;
}

.containerInputAddTraining{
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.containerInputAddTraining label{
    font-size: 1.1em;
    color: var(--color-txt);
    font-weight: var(--font-weight-Medium);
}

.containerInputAddTraining label + *{
    font-weight: var(--font-weight-Medium);
    font-size: var(--font-size-base);
    color: var(--color-txt-title);
    padding: 7px;
    border-radius: 5px;
    border: solid 1px #7B96C7;
}

/*Modal capacitacion*/

.modalTraining{
    display: flex;
    position: relative;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: var(--color-btn-text);
    width: var(--width-modal);
}

.headerModalTraining{
    display: flex;
    padding: 15px;
}

.trainer{
    font-size: 1.2em;
}

#trainingName{
    font-size: 1.6em;
    color: var(--color-txt);
    font-weight: var(--font-weight-Semibold);
    width: 100%;
    text-align: start;
}	

.headerModalTraining > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.bodyModalTraining{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 35px;
    box-sizing: border-box;
}

.bodyModalTraining > div{
    display: flex;
    gap: 15px;
}

.containerButtonsModalTraining{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}	

.containerButtonsModalTraining *{
    height: 2.5em;
    width: 10em;
    box-shadow: none; 
    border-radius: 5px;
}

/*Modal empleados*/

.modalEmployees{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 12px;
    padding: 35px;
    box-sizing: border-box;
    gap: 15px;
    background-color: #F2F9FEDF;
    width: var(--width-modal);
}

.headerModalEmployees{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px 0 0;
    box-sizing: border-box;
    color: var(--color-txt);
}

.containerFilterEmployees{
    display: flex;
    padding: 30px;
    max-height: 40px;
    width: 80%;
}

.containerEmployeeImage{
    padding: 5px;
}

#txtSearchEmployees{
    flex: 1;
    font-size: 1em;
    padding: 5px;
    box-sizing: border-box;
}

.headerModalEmployees h4{
    font-size: 1.6em;
    font-weight: 600;
    margin: 0;
}

#txtSearchEmployees{
    border-radius: 5px;
    border: solid 1px #6873BA;
    box-shadow: 0 0 2px #6873BA;
}

.headerModalEmployees > div{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1em;
    font-weight: var(--font-weight-Medium);
}

.bodyModalEmployees{
    width: 100%;
    height: clamp(200px, 60vh, 300px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.employee{
    display: flex;
    align-items: stretch;
    font-weight: var(--font-weight-Medium);
    font-size: var(--font-size-base);
    color: var(--color-txt);
    gap: 15px;
    padding: 0 20px;
    height: 25%;
}

.employee > div{
    display: flex;
    align-items: center;
}

.employeeImage{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.checks{
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    box-shadow: 0 0 3px #5666FF;
    border: solid 1px #5666FF;
    position: relative;
    display: grid;
    place-items: center;
    transition: 1s;
}

.checks:checked{
    background-color: #5666FF;
    transition: 0.6s;
}

.checks:checked::before{
    content: '✔';
    color: #fff;
}

/*Cambios de los modales*/

.showModal{
    display: flex;
}

.hideModal{
    display: none;
}